[configuration]
  var cmdb = {
    "agent1"	: {"Region": "abc"}
    }
  endvar

  script
    cmdb = @{JSON.stringify(cmdb)}
  endscript

[configuration]
  height-units = 5
  width-units = 1

  format = "10^" + decimal(value, 1)
  replace-value = Math.log10(value)

  [series]
    entity = nurswgvml007
    metric = cpu_busy

    script
      window.numberToDate = function (n) {
      var di = Math.round(n*1)+"";
      return new Date(di.substring(0,4), di.substring(4,6), di.substring(6,8), di.substring(8,10), di.substring(10,12), di.substring(12,14));
      };
    endscript

    var v = numberToDate(10)

    height-units = 1
    width-units = 1
    label-format = javascript:dsfkgkdfgast(tags.logger, '.')

    replace-value = roundToTen(value)

    script
      window.roundToTen = function (value) {
      return Math.round(value / 10) * 10;
      }
    endscript