 update-interval = 1 sec

 var b = [

  list a = ]
var data1 = [[
    "abc"
], ["cba"]]
endvar
     
  update-interval = 5
  
var data = [
    "abc"
, "cba",,,
]
endvar


var data1 = [
    "abc, 0
  ]
endvar

[widget]
    title = Chart With JavaScript
    type = chart
    time-span = 1 hour
    max-range = 100
    step-line = true
    [series]
      entity = nurswgvml007
      metric = cpu_busy
      replace-value = roundToTen(value)

     width-units = 6.2
  script
        window.roundToTen = function (value) {
        return ath.round(value / 10) * 10;
       }
      endscript